@charset "utf-8";

.markdown {
  img {
    max-width: 100%;
    height: auto;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  .wp-video, .tr-caption-container {
    width: 100% !important;
    height: initial !important;
  }
}

.post-nav {
  max-width: 50px;
  position: fixed;
  bottom: 25%; right: 0;
  z-index: 999;
}

.post-anchor:hover {
  color: #000;
  color: rgba(0,0,0,0.5);
}

.navbar .navbar-collapse .feed-buttons a {
  max-height: 32px;
  margin: 1px;
}

.single-post {
  overflow: hidden;
}

.swiper-slide {
  margin-right: 30px;
}
