<header class="header">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand active" href="{{ .Site.BaseURL | relLangURL }}">
        <span class="visually-hidden">{{ i18n "home" }}</span>
        Planet deepin
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        {{- partial "navbar_nav.html" . -}}
      </div>
    </div>
  </nav>
</header>